{% extends 'blog/base.html' %}

{% block content %}

    <h1>Please Upload JPG File.(Gray Scale)</h1>
    <h1>You can get Predicted Color Image.</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Predict</button>
        <p>{{ post }}</p>
    </form>
    {% if predicted == True %}
        <img src="/media/images/output.jpg" width="100%" height="100%" border="0" />
    {% endif %}

{% endblock %}


